<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><span>Bassim</span> Tbb</a>
  <button mat-icon-button color="white"  (click)="toggle()"  class="navbar-toggler" type="button"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link active_link" href="#home">Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active_link" href="#about">About </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active_link" href="#services">Services </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active_link" href="#projects">Projects </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active_link" href="#contact">Contact </a>
      </li>
    </ul>
  </div>
</nav>
